$ffamily: sans-serif;

body {
    font-family: $ffamily;
}

.txtredes {
    font-family: $ffamily;
    font-size: 30px;
    font-weight: bold;
}

.txt {
    font-family: $ffamily;
    font-size: 20px;
}
