$nodeco: none;
$ffamily: sans-serif;

body {
    font-family: $ffamily;
}

a:link, a:hover, a:visited {
    text-decoration: $nodeco;
}

.txtredes {
    font-family: $ffamily;
    font-size: 30px;
    font-weight: bold;
}

.txt {
    font-family: $ffamily;
    font-size: 20px;
}

center {
    text-align: center;
}