@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Helvetica';
  src: url('./fonts/Helvetica/Helvetica.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Helvetica';
  letter-spacing: 0.025em;
  background-color: #cff0ff;
  overflow-x: hidden;
}
